@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_WizardLayout.cshtml";
}

<section id="content">
    <div class="container">
        <div class="row">
            <div class="col-sm-24 col-md-12 grants">
                <!-- page content begins here -->
                <h1>@ViewBag.Title</h1>
                <hr />


                <!-- page content ends here -->
            </div>
        </div><!-- /.row -->
    </div><!-- /.container -->
</section>