
@{
    ViewBag.Title = "Success";
    //Layout = "~/Views/Shared/_WizardLayout.cshtml";
}

<h2>Success</h2>
<h3>Organsation data saved successfully</h3>
@Html.ActionLink("Back to base", "Index", "Home")
